body {
    display: flex;
    flex-direction: column;
    align-items: center;  
    min-height: 100vh;  
    margin: 0;
    background-image: url('img/10_game_background/desert.png');
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    font-family: 'Rio Grande', sans-serif;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 6px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

canvas {
    border-radius: 45px;
    background-color: black;
    display: block;
}
.btnTop {
    top: 25px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    z-index: 2;
    gap: 8px;
}
.btnTopGame {
    top: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    z-index: 1;
    gap: 8px;
}
.btnBottomInGame {
    bottom: 15px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    z-index: 1;
    gap: 4px;
}

.btnClose {
    top: 5px;
    right: 20px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    z-index: 1;
    gap: 4px;
}

.btnFullScreen {
    bottom: 15px;
    right: 30px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    z-index: 1;
    gap: 8px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap:10px;
    background: rgb(255,201,28);
    background: linear-gradient(180deg, rgba(255,201,28,1) 0%, rgba(255,165,0,1) 100%);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.498);
    overflow: hidden;
}

.icon img {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    width: 32px;
    height: 32px;
    transition: all 0.3s ease-in-out;
}

.icon img:hover {

    transform: scale(1.3);
}

.icon:hover {
    cursor: pointer;
    width: 125px;
    transition: all 0.3s ease-in-out;
}
.icon p {
    position: absolute;
    width: 0px;
    opacity: 0;
    color: var(--brown-dark);
}
.icon:hover p{
    position: unset;
    width: unset;
    opacity: 1;
}

.iconSounds {
    background: rgb(255,201,28);
    background: linear-gradient(180deg, rgba(255,201,28,1) 0%, rgba(255,165,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    gap:10px;
    background-color: rgb(255,205,23);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.498);
}

.iconSounds img {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    width: 32px;
    height: 32px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.iconSounds img:hover {
    transform: scale(1.3);
}
.iconSounds p {
    position: absolute;
    width: 0px;
    opacity: 0;
    color: var(--brown-dark);
}
.iconSounds:hover p{
    position: unset;
    width: unset;
    opacity: 1;
}

.iconSounds:hover {
    cursor: pointer;
    width: 125px;
    transition: all 0.3s ease-in-out;
}

.audioSlider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.slidecontainer {
    top:25px;
    width: 60%;
    opacity: 1;
}

.gameSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(5px) brightness(0.5);
    z-index: 1;
    text-align: center;
    color: white;
    border-radius: 45px;
    margin: 0px 20px 0px 20px;
}
.gameSettings p{
    font-size: 20px;
    margin: 8px 20px 8px 20px;
}
.gameSettings h2{
    font-size: 30px;
}
.gameSettings h3{
    margin: 8px 20px 8px 20px;
}

.d-none {
    display: none !important;
}
.gameExplanations {
    height: 100%;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(5px) brightness(0.5);
    z-index: 1;
    text-align: center;
    color: white;
    border-radius: 45px;
    margin: 0px 20px 0px 20px;
    z-index: 2;
}
.gameExplanations p{
    font-size: 20px;
    margin: 8px 20px 8px 20px;
}
.gameExplanations h2{
    font-size: 40px;
}
.gameExplanations h3{
    margin: 8px 20px 8px 20px;
}

.gameFullScreen {
    background: rgb(255,201,28);
    background: linear-gradient(180deg, rgba(255,201,28,1) 0%, rgba(255,165,0,1) 100%);
    bottom: 25px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    z-index: 1;
    gap: 8px;
}
.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    color: white;
    text-shadow: 2px 2px 3px rgba(255, 243, 22, 0.123);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controlContent{
    width: 300px;
    gap: 50px;
    display: flex;
    align-items: center;
}
.endScreen {
    position: absolute;
    backdrop-filter: blur(5px) brightness(0.5);
    height: 100%;
    width: 100%;
    border-radius: 45px;
    color: red;
}
.endScreen h2 {
    font-size: 48px;
    position: absolute;
    top: 25px;
}
.endScreenImg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45px;
}

.btnBottom {
    bottom: 25px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    z-index: 1;
    gap: 8px;
}

#rotateDevice {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Rio Grande', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: red;
    display: none;
    border-radius: 45px;
    backdrop-filter: blur(5px) brightness(0.5);
    text-shadow: 2px 2px 3px rgba(255, 243, 22, 0.123);
    z-index: 2;
}

#rotateDevice img {
    width: 200px;
    height: 200px;
}

.gameWrapper {
    position: relative;
    max-width: 720px;
    max-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    background-image: url("img/9_intro_outro_screens/start/startscreen_2.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.canvasContainer{
    display: flex;
}

#hud {
    display: flex;
    align-items:center;
    justify-content:space-between;
    position: absolute;
    bottom: 0px;
    gap: 64px;
}

.hud {
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    gap:10px;
    background: rgb(255,201,28);
    background: linear-gradient(180deg, rgba(255,201,28,1) 0%, rgba(255,165,0,1) 100%);
    border-radius: 50px;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.498);
    overflow: hidden;
    cursor: pointer;
    z-index: 4;
}

/* Smartphones _________________ */
@media only screen and (max-width: 860px) {
    .btnFullScreen {
        display: none;
    }
    canvas {
        width: 100%;
    }
    .gameHeadline {
        display: none;
    }
    .hud {
        display: flex;
    }
    .gameSettings {
        margin: 0px 10px 0px 10px;
    }
    .gameSettings p{
        margin: 4px 14px 4px 14px;
    }
    .gameSettings h2{
        font-size: 28px;
    }
    .gameSettings h3{
        margin: 4px 14px 4px 14px;
    }
    .gameExplanations {
        margin: 0px 10px 0px 10px;
    }
    .gameExplanations p{
        margin: 4px 14px 4px 14px;
        font-size: 20px;
    }
    .gameExplanations h2{
        font-size: 28px;
    }
    .gameExplanations h3{
        margin: 4px 14px 4px 14px;
    }
}

/* Smartphones _________________ */
@media only screen and (max-width: 720px) {
    .btnFullScreen {
        display: none;
    }
    canvas {
        width: 100%;
    }
    .gameHeadline {
        display: none;
    }
    .hud {
        display: flex;
    }
    .gameSettings {
        margin: 0px 10px 0px 10px;
    }
    .gameSettings p{
        margin: 4px 14px 4px 14px;
    }
    .gameSettings h2{
        font-size: 28px;
    }
    .gameSettings h3{
        margin: 4px 14px 4px 14px;
    }
    .gameExplanations {
        margin: 0px 10px 0px 10px;
    }
    .gameExplanations p{
        margin: 4px 14px 4px 14px;
        font-size: 20px;
    }
    .gameExplanations h2{
        font-size: 28px;
    }
    .gameExplanations h3{
        margin: 4px 14px 4px 14px;
    }
}

/* Smartphones _________________ */
@media only screen and (max-width: 520px) {
    #rotateDevice {
        font-family: 'Rio Grande', sans-serif;
        font-size: 30px;
    }
    #rotateDevice img {
        width: 125px;
        height: 125px;
    }
    .hud {
        display: flex;
    }
}

/* Smartphones _________________ */
@media only screen and (max-width: 390px) {
    #rotateDevice {
        font-family: 'Rio Grande', sans-serif;
        font-size: 20px;
    }
    #rotateDevice img {
        width: 100px;
        height: 100px;
    }
    .hud {
        display: flex;
    }
}

/* Smartphones _________________ */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .gameHeadline {
        display: none;
    }
    .hud {
        display: flex;
    }
}